/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Container to center everything */
.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Chatbox styling */
#chatbox {
    height: 300px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #444;
    display: flex;
    flex-direction: column;
}

/* Message bubbles */
#chatbox p {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

#chatbox p strong {
    font-weight: bold;
}

.user-message {
    background-color: #d1e7dd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: fit-content;
    align-self: flex-start;
    white-space: pre-wrap;
    text-align: right;

    /* Ensure newlines are honored */
}

.bot-message {
    background-color: #cce5ff;
    /* Soft light blue */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    width: fit-content;
    align-self: flex-end;
    white-space: pre-wrap;
    text-align: left;
    /* Ensure newlines are honored */
}

/* Input area styling for the chat page */
.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

input[type="text"]:focus {
    outline: none;
    border-color: #3498db;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* File upload form styling */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
}

input[type="file"]:focus {
    outline: none;
    border-color: #3498db;
}

button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    display: block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}